@import "tailwindcss";

@theme {
  --color-background: var(--color-slate-950);
  --color-foreground: var(--color-slate-200);
  --color-primary: var(--color-indigo-600);
  --color-primary-light: var(--color-indigo-500);
  --color-error: var(--color-red-600);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
